In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("../dataset/DATA_FINAL.csv")
df1 = df1.dropna()

C:\Users\A2IN\AppData\Local\Temp\ipykernel_11544\1952883096.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("../dataset/DATA_FINAL.csv")

In [12]:
df1["mean"] = df1.iloc[:,1:4].mean(axis = 1)

In [13]:
df1

,RESP,ABPmean,ABPsys,ABPdias,Tblood,SpO2,HR,PULSE,ALARM,mean
0,15.0,89.0,114.0,78.0,37.1,100.0,101.0,100.0,False,93.666667
1,15.0,89.0,114.0,78.0,37.1,100.0,101.0,101.0,False,93.666667
2,15.0,89.0,113.0,78.0,37.1,100.0,101.0,101.0,False,93.333333
3,15.0,89.0,113.0,78.0,37.1,100.0,101.0,101.0,False,93.333333
4,15.0,89.0,114.0,78.0,37.1,100.0,101.0,101.0,False,93.666667
...,...,...,...,...,...,...,...,...,...,...
131244,23.0,111.0,132.0,99.0,37.0,98.0,109.0,108.0,False,114.000000
131245,23.0,111.0,132.0,100.0,37.0,98.0,109.0,108.0,False,114.333333
131246,23.0,111.0,132.0,100.0,37.0,98.0,109.0,108.0,False,114.333333
131247,23.0,112.0,133.0,101.0,37.0,98.0,109.0,108.0,False,115.333333
131248,23.0,112.0,133.0,101.0,37.0,98.0,109.0,109.0,False,115.333333

In [9]:
data = df.to_numpy()
mean = np.mean(data) 
sd = np.std(data)
threshold = 10
outliers = []
for i in data: 
    z = (i-mean)/sd 
    if abs(z) > threshold: 
        outliers.append(i) 
print(type(outliers))

The detected outliers are:  <class 'list'>